<div class='homebeer'>
  <img src='/images/beer.png' alt='Beer image' />
  <br />
  <button>
    <a href='/beers'>Check the Beers!</a>
  </button>
  <br />
  <button>
    <a href='/random-beer'>Select a Random Beer!</a>
  </button>
</div>