
<div id='containerRandom'>
<div class="container">
  <div class="column">
      {{#each beer}}
    {{> beerpartial this}}
    <div>
    <a href='/beer/{{this.id}}' alt='{{this.name}}'>
    <div>
    <p>{{this.food_pairing}}</p>
    <p>{{this.brewers_tips}}</p>
    </div>
    </a>
    </div>
    {{/each}}
  </div>
</div>
</div>
